body {
    font-size: 16px;
    background-color: #ff6c00;
    font-family: Soho, Arial, sans-serif;
}

/* START HEADER */

#header-nav {
    background-color: #f5c0c0;
    border-radius: 0;
    border: 0;
}

div#collapsable-nav.navbar-collapse {
    background-color: navajowhite;
    font-weight: bold;
}

.navbar-brand h1 {
    color: #9fd8df;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    text-align: center;
}

#nav-list hr {
    margin-top: 0;
    margin-bottom: 0;
}

button.navbar-toggle,
.icon-bar {
    border: 1px solid #f0e4d7;
}

/* END HEADER */

/* MAIN CONTENT */

div.styling {
    border: 2px solid black;
    margin: 10px auto 10px auto;

}

div.text-center  {
    margin-bottom: 10px;
}

h3 {
    padding-top: 10px;
}

p {
    padding: 10px;
    font-style: italic;
    text-align: justify;
}

div#chicken {
    background-color: #a239ea;
}

div#beef {
    background-color: #ff94cc;
}

div#sushi {
    background-color: #f0d9e7;
}

#menu-tiles hr {
    margin-bottom: 10px;
    width: 80%;
}

#menu-tiles a {
    text-decoration: none;
    color: darkslategrey;
}

#menu-tiles a:hover,
#menu-tiles a:focus {
    color: black;
}